<div class="wrapper">
    <div class="lab-create">
        <div class="create-header">
            SoftUni Labs
        </div>
    </div>
    <br>
    <div class="button-holder">
        <a type="button" href="/create" class="log-button">Create Lab</a>
    </div>
    <div class="content">
        <div class="header">
            <div class="lab-label">Name</div>
            <div class="lab-label">Capacity</div>
            <div class="lab-label">Status</div>
            <div class="lab-label">Actions</div>
        </div>
        <div class="main">
            {{# each labs}}
                <div class="lab">
                    <div class="lab-name">
                        {{ name }}
                    </div>
                    <div class="lab-name">
                        {{ capacity }}
                    </div>
                    <div class="lab-name">
                        {{ status }}
                    </div>
                    <div class="lab-actions">
                        <a type="button" href="/edit/{{id}}" class="edit-button">Edit</a>
                        <a type="button" href="/delete/{{id}}" class="delete-button">Archive</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>