<section id="{{sectionId}}" class="{{classType}}">
    <h1 class="titleForm">{{titleForm}}</h1>
    <form id="{{formId}}" class="form">
        <div><input type="hidden" name="id" required /></div>
        <div><input type="hidden" name="publisher" required /></div>
        <div><input type="hidden" name="viewsCount" required /></div>
        <div>Title:</div>
        <div><input type="text" name="title" required /></div>
        <div>Description:</div>
        <div><textarea name="description" rows="10" required></textarea></div>
        <div>Date Published:</div>
        <div><input type="date" name="datePublished" required /></div>
        <div>Price:</div>
        <div><input type="number" step="0.01" name="price" required /></div>
        <div>Image:</div>
        <div><input type="text" name="image" required /></div>
        <div><input type="button" id="{{btnId}}" value="{{btnValue}}" /></div>
    </form>
</section>
