<section id="readMore">
    <img src="{{link}}" width="150px">
    <p>Title:</p>
    <p><b id="title">{{title}}</b></p>
    <p>Description:</p>
    <p id="descrp">{{description}}</p>
    <p>Publisher:</p>
    <p id="publ">{{publisher}}</p>
    <p id="date">{{date}}</p>
    <p id="views">{{views}}</p>
</section>