<h1>Customize your order</h1>
<div class="catalog">
    <div class="column">
        <img src="{{imageUrl}}">
    </div>
    <div class="column">
        <h2>{{category}} donner, {{size}}</h2>
        <h3>Toppings</h3>
        <div class="toppings">
            <form method="POST">
                <input name="product_id" type="hidden" value="{{_id}}">

                {{#each toppings}}
                    <input name="toppings" type="checkbox" value="{{this}}"><label for="{{this}}">{{this}}</label><br>
                {{else}}
                    <h3>No toppings</h3>
                {{/each}}

                <input type="submit" value="Checkout" class="button">
            </form>
        </div>

    </div>
</div>
